.loader-overly {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(0 0 0 / 71%);
    height: 100%;
    z-index: 99999999;
}
/* :root {
    --body-font: 'Lato', sans-serif;
    --heading-font: 'Montserrat';
  } */
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat';
}
p,a, body, label, input, button, td, th, li{
   font-family: 'Lato';
}

.loader {
    position: absolute;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #ef305e;
    border-right: 7px solid #fff;
    border-bottom: 7px solid #ef305e;
    border-left: 7px solid #fff;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(30% + 0px);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.active-count-box {
    background-image: url("/public/media/products/brewery.png");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 3px 1px #e1e1e1 !important;
}

span.show-more-title {
    visibility: hidden;
}

span.show-more-title:hover {
    visibility: visible !important;
}

button.button-close span {
    font-size: 39px !important;
}

button.button-close {
    background: transparent;
    border-width: 0px;
    color: white;
}

span.iconss {
    display: none;
    margin-left: 14px
}

tr:hover .iconss {
    display: block !important;
    font-weight: bolder;
    cursor: pointer;
    padding: 2px 3px 2px 3px;
}

.rounded_cover {
    border-radius: 50%;
    background-color: #f1416ca8;
    padding: 2px 7px 2px 7px;
    border: 1px solid #f1416c;
    cursor: pointer;
}

.user_active{
    height: 380px !important;
}
.user_active1{
    height: 380px !important;
}
.user_active2{
    height: 380px !important;
}


.charts_pie{
    height: 330px !important;
    width: 330px !important;
    text-align: center;
}
.charts_bar{
    height: 330px !important;
    width: 80% !important;
    text-align: center;
}
.charts_doughnut{
    height: 220px !important;
    width: 220px !important;
    text-align: center;
    margin-top: 20px;
}
.charts_doughnut1{
    height: 220px !important;
    width: 220px !important;
    text-align: center;
}
.doughnut-graph{
    display: flex;
    justify-content: center;
}

.doughnut-chart{
    display: flex;
    justify-content: end;
}
.charts_line{
    height: 210px !important;
    width: 300px !important;
    text-align: center;
}
.line_chart{
    margin-top: 60px;
}
.eye-btn{
    color: #009ef7 !important;
    font-size:18px !important;
    cursor: pointer;
}
.home-btn{
    color: #009ef7 !important;
    font-size:24px !important;
    cursor: pointer;
}
.delete-btn{
    color: rgb(197, 6, 6) !important;
    font-size:18px !important;
    cursor: pointer;
  }
.explaination{
    font-size: 15px;
}
.activebtn{
    background-color: green;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
    border: none;
}
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
    width: 100%;
    font-size: 18px !important;
    font-weight: 600 !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #009ef7 !important;
    background-color: #eaf4f9 !important;
    border-color: #009ef7 !important;
}
.nav-link {
    color: #000 !important;
}
.inactivebtn{
    background-color: rgb(194, 3, 3);
    color: white;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px;
    border: none;
}
.google-login{
    /* width: 100%; */
    text-align: center;
    margin-top: 10px;
    padding: 0px 100px;
}
.goole-sign{
    /* padding: 5px; */
    display: flex;
    justify-content: center;
}
button.google-login {
    width: 100% !important;
    display: flex;
    justify-content: center;
}
.horizontal_bar{
    margin-top: 30px;
    height: 220px !important;
    width: 330px !important;
    text-align: center;
}
.edit-btn{
    color: rgb(58, 60, 61) !important;
    font-size: 20px !important;
    margin-right: 10px;
}
.prev_btn{
    color: black;
    border: 1px solid black;
    background: white;
    border-radius: 100px;
    font-weight: 600;
    font-size: 15px;
}
.previous-page{
    display: flex;
    list-style: none;
    margin: 0px 5px;
}
.unactive_btn button{
    margin: 0px 3px !important;
    border: 2px solid black !important;
    border-radius: 100px !important;
    font-weight: 800 !important;
}
.active_btn button{
    color: #009ef7 !important;
    background-color: #eaf4f9 !important;
    border: 2px solid #009ef7 !important;
    border-radius: 100px !important;
    font-weight: 800 !important;
}
.next_btn{
    color: black;
    border: 2px solid black;
    background: white;
    border-radius: 100px;
    font-weight: 600;
    font-size: 15px;
}
.export-btn{
    border: none;
    border-radius: 10px;
    color: white;
    background: #181c32;
    padding: 10px 20px;
    margin-right: 10px;
}
.active-count{
    font-size: 45px;
}
.week-day{
    font-size: 40px;
    /* margin-top: 30px; */
}
.user-age{
    /* pe-5 p-5 mt-5  */
    margin-top: 30px;
    padding: 30px;
}


@media screen and (max-width: 1024px) {
    .week-day{
        font-size: 30px;
        margin-top: -20px
    }
    .charts_doughnut{
        height: 190px !important;
        width: 190px !important;
        text-align: center;
        margin-left: 10px;
        margin-top: 30px;
    }
    .user-age{
        padding: 0px;
    }
    .charts_line{
        width: 200px !important;
    }
}

@media screen and (max-width: 425px) {
    .user-age{
        margin-top: 0px;
    }
    .user_active1{
        height: 550px !important;
    }
    .user_active2{
        height: 650px !important;
    }
    .charts_line {
        width: 100% !important;
    }
    .doughnut-chart{
        display: flex;
        justify-content: center;
    }
    .charts_doughnut1{
        height: 220px !important;
        width: 100% !important;
        text-align: center;
    }
}