.loader-overly {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(0 0 0 / 71%);
    height: 100%;
    z-index: 99999999;
}

.loader {
    position: absolute;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #ef305e;
    border-right: 7px solid #fff;
    border-bottom: 7px solid #ef305e;
    border-left: 7px solid #fff;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(30% + 0px);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.active-count-box {
    background-image: url("/public/media/products/brewery.png");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 3px 1px #e1e1e1 !important;
}

span.show-more-title {
    visibility: hidden;
}

span.show-more-title:hover {
    visibility: visible !important;
}

button.button-close span {
    font-size: 39px !important;
}

button.button-close {
    background: transparent;
    border-width: 0px;
    color: white;
}

span.iconss {
    display: none;
    margin-left: 14px
}

tr:hover .iconss {
    display: block !important;
    font-weight: bolder;
    cursor: pointer;
    padding: 2px 3px 2px 3px;
}

.rounded_cover {
    border-radius: 50%;
    background-color: #f1416ca8;
    padding: 2px 7px 2px 7px;
    border: 1px solid #f1416c;
    cursor: pointer;
}

.user_active{
    height: 380px !important;
}


.charts_pie{
    height: 330px !important;
    width: 330px !important;
    text-align: center;
}
.charts_bar{
    height: 330px !important;
    width: 80% !important;
    text-align: center;
}
.charts_doughnut{
    height: 220px !important;
    width: 220px !important;
    text-align: center;
}
.charts_line{
    height: 210px !important;
    width: 300px !important;
    text-align: center;
}
.line_chart{
    margin-top: 60px;
}
.explaination{
    font-size: 15px;
}
.activebtn{
    background-color: green;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
    border: none;
}
.inactivebtn{
    background-color: rgb(194, 3, 3);
    color: white;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px;
    border: none;
}
.google-login{
    /* width: 100%; */
    text-align: center;
    margin-top: 10px;
    padding: 0px 100px;
}
.goole-sign{
    /* padding: 5px; */
    display: flex;
    justify-content: center;
}
button.google-login {
    width: 100% !important;
    display: flex;
    justify-content: center;
}
.horizontal_bar{
    margin-top: 30px;
    height: 220px !important;
    width: 330px !important;
    text-align: center;
}